.form-container {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */

  .form-section {
    flex: 1;
    padding: 0 70px;

    h2 {
      font-family: 'regularBrownSugar', serif;
      font-size: 2.5rem;
      margin-bottom: 50px;
      font-weight: lighter;
    }

    form {
      .form-group {
        margin-bottom: 20px;

        label {
          display: block;
          font-family: 'Cormorant Garamond', serif;
          font-size: 1rem;
          margin-bottom: 12px;
          color: var(--text-color);
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="date"],
        input[type="file"],
        select,
        textarea {
          width: 100%;
          padding: 12px;
          color: rgb(104, 104, 103);
          border: 1px solid #ddd;
          font-size: 0.88rem;
          font-family: 'Cormorant Garamond', serif;
        }

        .measurement-input {
          display: flex;
          align-items: center;

          input {
            flex: 2;
            padding: 10px;
            margin-top: 2px;
            font-size: 0.875rem;
          }

          select {
            flex: 1;
            padding: 9.5px;
            color: rgb(104, 104, 103);
            margin-left: -1px;
            margin-top: 2px;
          }
        }

        textarea {
          resize: vertical;
          height: 80px;
          color: rgb(104, 104, 103);
        }
      }

      .measurement-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        .form-group {
          margin-bottom: 0;
        }
      }

      .upload {
        width: 310%; /* Adjust width for better fit on smaller screens */

        input[type="file"] {
          width: 100%;
          height: 100px;
          padding: 20px;
          border: 1px solid #ddd;
          font-size: 0.875rem;
          font-family: 'Cormorant Garamond', serif;
          box-sizing: border-box;
        }
      }
    }
  }

  .submit-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }

  .submit-button {
    padding: 10px 30px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333333cb;
    }
  }


 @media(max-width:1250px){
  .form-section{
    h2{
      font-size: 2rem;
      white-space: nowrap;
    }
  }
 }
  @media (max-width: 1024px) {
    padding: 40px;
    flex-direction: column; 
    align-items: center;

    .form-section {
      padding: 0 40px;
      width: 100%;

      h2 {
        font-size: 2rem;
      }

      .measurement-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .submit-button-container {
      justify-content: center;
      width: 100%;
      margin-top: 20px;
    }
  }

  @media (max-width: 768px) {
    padding: 30px;

    .form-section {
      padding: 0 20px;

      h2 {
        font-size: 1.8rem; 
      }

      .measurement-grid {
        grid-template-columns: 1fr !important;
      }
      .upload{
        width: 100% !important;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 20px;

    .form-section {
      padding: 0 10px;

      h2 {
        font-size: 1.5rem;
        margin-bottom: 30px;
      }

      .measurement-input input,
      .measurement-input select {
        font-size: 0.8rem !important; 
      }


      textarea {
        height: 60px;
        flex-direction: column;
      }
    }

    .submit-button-container {
      justify-content: center;
      width: 100%;
      margin-top: 10px;
    }
  }
}
