.slideshow-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 5%;
}

.slides {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 1 0 25%; 
  box-sizing: border-box;
  padding: 10px;
  position: relative;
}

.slide img {
  width: 95%;
  height: 45vh;
  object-fit: cover;
  border: 1px solid rgb(30, 30, 29);
}

.slide-details {
  position: absolute;
  bottom: 0;
  width: 89.4%;
  background: #fff; 
  color: rgb(30, 30, 29);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: space-between;
  transition: background 0.3s ease, color 0.3s ease;
  line-height: 45px;
  font-size: 16px;
  z-index: 3;
}

.left-head {
  font-size: 16px;
  white-space: nowrap;
}

.location-left {
  white-space: nowrap;
}

.details-left,
.details-right {
  flex: 1;
}

.details-left {
  text-align: left;
}

.details-right {
  text-align: right;
}

.nav-bon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(30, 30, 29);
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  z-index: 10;
}

.nav-bon.prev {
  left: -10px;
}

.nav-bon.next {
  right: -10px;
}

.nav-bon:hover {
  background: none;
  color: #2e2e2e; 
}

.view-details-bt {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(30, 30, 29);
  color: #fff;
  border: none;
  padding: 10px 35px;
  border-radius: 10px;
  font-size: 16px;
  white-space: nowrap;
  font-family: 'Cormorant Garamond', serif;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease, bottom 0.3s ease;
}


.slide:hover .view-details-bt {
  opacity: 1;
  bottom: 35%;
  z-index: 1;
}

.slide-details:hover {
  background: rgb(30, 30, 29);
  color: white;
}

.slide:hover .slide-details .view-details-bt {
  opacity: 1;
  bottom: 27%;
}

.view-details-bt:hover {
  background-color: rgba(30, 30, 29, 0.453);
  border: 1px solid rgb(30, 30, 29);
  transition: ease-out 0.5s;
}

.location-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  font-family: 'Cormorant Garamond', serif;
  width: 90%;
  margin: 0 auto;
}

.location-list {
  display: flex;
  flex-wrap: wrap; 
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.location-item {
  margin: 5px 25px;
  font-size: 18px;
  display: flex;
  color: rgba(30, 30, 29, 0.732);
  cursor: pointer;
  transition: text-decoration 0.3s ease;
  position: relative;
}

.location-item.active {
  text-decoration: none;
  border-bottom: 4px solid rgba(30, 30, 29, 0.732);
  padding-bottom: 5px; 
}

.view-all-btn {
  padding: 10px;
  font-size: 18px;
  background-color: transparent;
  color: rgb(30, 30, 29);
  border: none;
  cursor: pointer;
}

.header-models {
  margin-left: 6%;
  font-size: 4rem;
  font-weight: lighter;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .slide {
    flex: 1 0 50%; 
  }

  .header-models {
    font-size: 3rem;
    text-align: center;
  }
  .slide-details{
    width: 87%;
    font-size: 12px;
    flex-direction: column;
    height: 15vh;
    text-align: center;
  }
  .left-head {
    font-size: 14px;
    white-space: nowrap;
  }
  .details-left {
    text-align: center;
    line-height: 2;
  
  }
  
  .details-right {
    text-align: center;
    line-height: 2;
  }

  .location-list {
    justify-content: center;
  }

  .location-item {
    margin: 5px 15px;
  }

  .nav-bon {
    font-size: 16px;
    padding: 8px;
  }
}

@media (max-width: 768px) {
  .slide {
    margin-left: 2%;
    padding: 10px;
    flex: 1 0 100%; 
  }

  .slide img {
    height: 40vh;
    width: 90%;
  }

  .header-models {
    font-size: 2.5rem;
    text-align: center;
  }
  .slide-details{
    width: 87%;
    font-size: 12px;
    flex-direction: column;
    height: 15vh;
    text-align: center;
  }
  .left-head {
    font-size: 14px;
    white-space: nowrap;
  }
  .details-left {
    text-align: center;
    line-height: 2;
  
  }
  
  .details-right {
    text-align: center;
    line-height: 2;
  }

  .location-list-container {
    flex-direction: column;
    align-items: center;
  }

  .view-all-btn {
    margin-top: 10px;
  }

  .nav-bon {
    font-size: 14px;
    padding: 10px;
    margin-left: 3%;
  }
}
@media (max-width: 650px) {
  .slide {
    flex: 0 0 198%; 
    overflow: hidden;
    padding: 20px;
  }

  .slide img {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    margin-left: -5%;
  }

  .header-models {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
  }
  .slide-details{
    width: 87%;
    font-size: 12px;
    margin-left: -5%;
  }
  .left-head {
    font-size: 14px;
    white-space: nowrap;
  }
  .location-list-container {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 100%;
  }

  .view-all-btn {
    margin-top: 10px;
  }

  .nav-bon {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .slide {
    flex: 0 0 376%; 
    overflow: hidden;
    padding: 30px;
  }

  .slide img {
    height: 40vh;
    width: 100%;
    overflow: hidden;
    margin-left: -5%;
  }

  .header-models {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5%;
  }
  .slide-details{
    width: 86%;
    font-size: 14px;
    margin-left: -5%;
  }
  .location-list-container {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 100%;
  }

  .view-all-btn {
    margin-top: 10px;
  }

  .nav-bon {
    font-size: 14px;
    padding: 10px;
  }
}
